<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table border="5" width="90%" align="center" bgcolor="">
                <tr>
                    <td align="center">
                        <img src="Imagenes/LOGOC.png" class="imgredonda">
                    </td>
                    <td align="center">
                        <img src="Imagenes/COMERCIAL.png" height="250px" width="650px" class="imgborde">
                    </td>

                </tr>
                <tr>
                    <td colspan="2" class="td1">
                        <nav class="menu">
                            <ul class="texto">
                                <li><a href="index.html"> INICIO &nbsp;<i class="fa-solid fa-house"></i></a></li>
                                
                                <li><a href="QuienesSomos.blade.php"> GALERIA &nbsp;<i class="fa-solid fa-house"></i></a></li>
                                <li><a href="contactos.html"> CONTACTO &nbsp;<i class="fa-solid fa-house"></i></a></li>
                                <li><a href="comentarios.html"> COMENTARIO &nbsp;<i class="fa-solid fa-house"></i></a></li>
                                
                            </ul>
                        </nav>
                    
                    </td>
                </tr>
        </table>
</body>
</html>