.box {
    display: block;
    margin: 160px auto 0; /* Agrega un margen superior para evitar la superposición con el menú fijo */
    width: 800px;
    height: 440px;
    padding: 8px;
    background: #F2F2F7;
    color: #000000;
    border: 1px solid #000000;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.line {
    height: 1px;
    background-color: rgb(12, 9, 9);
}


/*BENEFICIOS */
.wrapper {
    display: block;
    margin: auto;
    width: 1000px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #FFC107;
    border: 2px solid black;
    padding: 10px;
    width: 1000px;
    height: 440px;
}

.text-container {
    width: 55%;
    font-size: 17px;
    text-align: justify;
    margin-right: 20px;
}

.text-container .fomento-de-la-innovaci-n-y-la-colaboraci-n-1 {
    width: 100%;
    color: #000000;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 17px;
    line-height: 1.3;
    text-align: center;
}

.image-container {
    width: 45%;
    display: flex;
    align-items: stretch;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.content-container-green {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* Alinea el contenido verticalmente */
    background-color: #13795B;
    /* Cambia el color de fondo a verde */
    border: 2px solid black;
    padding: 10px;
    width: 1000px;
    /* Aumenta el ancho del contenedor */
    height: 440px;
}

.text-container-green {
    width: 55%;
    /* Ajusta este valor según tus necesidades */
    font-size: 17px;
    /* Establece el tamaño de la letra del contenido a 24px */
    text-align: justify;
    margin-right: 20px;
    /* Agrega un margen entre el texto y la imagen */
}

.text-container-green .fomento-de-la-innovaci-n-y-la-colaboraci-n-1 {
    width: 100%;
    /* Ajusta este valor según tus necesidades */
    color: #000000;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 17px;
    line-height: 1.3;
    text-align: center;
}

.image-container-green {
    width: 45%;
    /* Ajusta este valor según tus necesidades */
    display: flex;
    /* Añadido para permitir el alineamiento de la imagen */
    align-items: stretch;
    /* Asegura que la imagen se estire para llenar el contenedor */
}

.image-container-green img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Asegura que la imagen cubra todo el espacio disponible */
}

